.div{
    position: relative;
}
.input {
    width:380px;
    border: 1px solid #61dafb;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 25px;
    margin-left: 5px;
}
.label {
    color: #fff;
    margin-left: 8px;
}
.error {
    position: absolute;
    color: #61dafb;
    font-size: 9px;
    margin-left: 8px;
    margin-top: -20px;
    z-index: 999;
}